{% extends 'layout2.html' %}


{% block content %}
{%import "_macros.html" as macros%}

<h1>Alumnos</h1>
<form action="" method="POST" novalidate>
    {{form.csrf_token}}
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    {{macros.input_forms(form.nombre)}}
    {{macros.input_forms(form.email)}}
    {{macros.input_forms(form.apaterno)}}
    {{macros.input_forms(form.edad)}}
    <input class="btn btn-primary" type="submit" name="btn1" value="Enviar" >
</form>
    <h1>Nombre: {{nom}}</h1>
    <h1>apaterno: {{apa}}</h1>
    <h1>correo: {{c}}</h1>
    {% endblock %}
   